{% extends 'layout.html' %}

<!---->
{% block head %}
{{ block.Super | safe }}

<link rel="stylesheet" href="/static/cc.css" type="text/css" />

{% endblock head %}

<!---->
{% block body_content %}

<div class="page_header">
  <h3>{{ title }}</h3>
</div>

<section id="cnodes_info">
  <h5>Computing Nodes</h5>
  <table id="cnode_tbl">
    <thead>
      <tr>
        <th>Host Name</th>
        <th>Last Alive</th>
        <th>Last Check</th>
        <th>IP/MAC</th>
        <th>Configuration</th>
      </tr>
    </thead>
    <tbody>
      {%for cnode in cnodes %} {%with cnode.Cfg.Inflate() as cfg%}
      <tr>
        <td>{{ cfg.hostname }}</td>
        <td>
          {{ cnode.LastAlive | date: "2006-01-02" | safe }}
          <br />
          {%if cnode.AssumeAlive %} &#x2714;{%else%} &#x2718; {%endif%}
          {{ cnode.LastAlive | date: "15:04:05" | safe }}
        </td>
        <td>
          {{ cnode.LastCheck | date: "2006-01-02" | safe }}
          <br />
          {%if cnode.CheckedAlive %} &#x2714;{%else%} &#x2718; {%endif%}
          {{ cnode.LastCheck | date: "15:04:05" | safe }}
        </td>
        <td>
          <a href="ssh://{{ sshUser }}@{{ cnode.IP }}">{{ cnode.IP }}</a>
          <br />
          {{ cnode.Cfg.Mac }}
        </td>
        <td>
          <div class="ConfigFileEdit">
            {%if cnode.Cfg.FileName %}
            <span style="flex: none; text-align: left;">
              <button data-act="save" disabled>&#x2714;</button>
              <button data-act="cancel" disabled>&#x2718;</button>
              <label>
                {{- cnode.Cfg.FileName -}}
              </label></span
            >
            <textarea data-filename="{{ cnode.Cfg.FileName }}" readonly>
            {{- cnode.Cfg.RawYaml | safe -}}
          </textarea
            >
            {%endif%}
          </div>
        </td>
      </tr>
      {%endwith%} {%endfor%}
    </tbody>
  </table>
</section>

{% endblock body_content %}

<!---->
{% block body_end_scripts %}
<!---->

<script type="module" modu src="/static/cc.js"></script>

{% endblock body_end_scripts %}
