{% extends 'layout.html' %}

<!---->
{% block head %}
{{ block.Super | safe }}

<link rel="stylesheet" href="/static/cc.css" type="text/css" />

{% endblock head %}

<!---->
{% block body_content %}

<div class="page_header">
  <h3>{{ title }}</h3>
</div>

<section id="cnodes_info">
  <h5>Computing Nodes</h5>
  <table id="cnode_tbl">
    <thead>
      <tr>
        <th>Host Name</th>
        <th>Last Alive</th>
        <th>Last Check</th>
        <th>IP/MAC</th>
        <th>Configuration</th>
      </tr>
    </thead>
    <tbody>
      {%for cnip in cnips%} {%for cfg in cnip.Cfgs %}
      <!--  -->
      {%with cfg.Inflate() as cfgd %}
      <!--  -->
      <tr style="font-family: monospace;">
        <td>
          <span style="display: block;"> {{ cfgd.hostname }}</span>
          <a href="ssh://{{ sshUser }}@{{ cnip.IP }}">SSH</a>
          &middot;
          <a href="vnc://{{ cnip.IP }}">VNC </a>
        </td>
        <td>
          {{ cnip.LastAlive | date: "2006-01-02" | safe }}
          <br />
          {%if cnip.AssumeAlive %} &#x2714;{%else%} &#x2718; {%endif%}
          {{ cnip.LastAlive | date: "15:04:05" | safe }}
        </td>
        <td>
          {{ cnip.LastCheck | date: "2006-01-02" | safe }}
          <br />
          {%if cnip.CheckedAlive %} &#x2714;{%else%} &#x2718; {%endif%}
          {{ cnip.LastCheck | date: "15:04:05" | safe }}
        </td>
        <td>
          <span style="display: block; ">
            {{ cnip.IP }}
          </span>
          <span style="display: block; font-size: 62%;">
            {{ cfg.Mac }}
          </span>
        </td>
        <td>
          <div class="ConfigFileEdit">
            {%if cfg.FileName %}
            <span style="flex: none; text-align: left;">
              <button data-act="save" disabled>&#x2714;</button>
              <button data-act="cancel" disabled>&#x2718;</button>
              <label>
                {{- cfg.FileName -}}
              </label></span
            >
            <textarea data-filename="{{ cfg.FileName }}" readonly>
              {{- cfg.RawYaml | safe -}}
            </textarea>
            {%endif%}
          </div>
        </td>
      </tr>
      <!--  -->
      {%endwith%}
      <!--  -->
      {%endfor%} {%endfor%}
    </tbody>
  </table>
</section>

{% endblock body_content %}

<!---->
{% block body_end_scripts %}
<!---->

<script type="module" modu src="/static/cc.js"></script>

{% endblock body_end_scripts %}
